@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white
}
body {
  background: black;
}

/* default headingg styles */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

.hidden-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.absolute-left {
  position: absolute;
  right: 100%;
 /* center vertically */
  top: 50%;
  transform: translateY(-50%) translateX(-20%);
}